body{
    background-color:#05192d;
}
form{

    background: hsla(0,0%,100%,.3);
    padding: 50px 50px 0;
    border: 1px solid #05192d;
    border-radius: 4px;
    width:400px;
    height:300px;

    
}
.formcontainer{
    margin:100px auto;

}