/* color palletes ---> main colors:main-#05192d   
color1-#03ef62   
color2-#06bdfc 
color3-#974dff   
color4-#ff6ea9 
color5-#7933ff    */


body{
background-color:#05192d;
color:#03ef62
}

.headbar{
    position:sticky;
    top:0;
    height:200px;
    display:flex;
    flex-direction: row;
    padding:1% 0%;
    background-color:#05192d;
    border-bottom:#03ef62 1px solid;
  }
  .headerlogo{
    display: inline-block;
  }
.headercls{
    display:inline-block;
    color:white;
    font-size:xx-large;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    align-self:center;
  }

  .navcls {
    display:inline;
    align-self:center;
    color:white;
    text-align: center;
    overflow: hidden;
    
  }
.navcls ul{
  display:inline;
}
.navcls li{
    display:inline;
    text-decoration: none;
    font-size:large;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    padding:0.5vw;
}
.navcls a{
  color:white;
  text-decoration:none;
   
}

.navcls a:hover {
    background-color: #03ef62;
    color:black;
  }
.navcls a:active{
    background-color:grey;
    
}

.introtext{
    display:inline;
    color:white;
    font-size:large;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    align-self:center;
}