/* color palletes ---> main colors:main-#05192d   
color1-#03ef62   
color2-#06bdfc 
color3-#974dff   
color4-#ff6ea9 
color5-#7933ff    */


body{
background-color:#05192d;
color:#03ef62;
font-family: 'Montserrat', sans-serif;
}

.headbar{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    padding:1% 0%;
    background-color:#05192d;
    border-bottom:#03ef62 1px solid;
  }
  .headerlogo{
    display: inline-block;
  }
.headercls{
    display:inline-block;
    color:white;
    font-size:xx-large;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    align-self:center;
  }

  .navcls {
    width:50%;
    display:inline-block;
    align-self:center;
    color:white;
    overflow: hidden;
    text-align:left;
    list-style: none;
    
  }
.navcls li{
    display:inline-block;
    font-size:large;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    padding:0 0.6vw;
}
.navcls a{
  color:white;
  text-decoration:none;
   
}

.navcls a:hover {
    background-color: #03ef62;
    color:black;
  }
.navcls a:active{
    background-color:grey;
    
}
.projecttitlecls{
  color:white;
  font-size:xx-large;
  font-weight:bold;
  display: inline-block;
  padding:2% 0%;
  font-family: 'Montserrat', sans-serif;
  text-align:center;

}

.introtextcls{
    width:60%;
    display:inline-block;
    color:white;
    font-size:x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    align-self:center;
    line-height:1.7;
}
.animationimg{
  display:inline-block;
  width:30%;
}

.productfeaturescls{
  margin:10px;
  color:#05192d;
  
  
}
.column:hover{
  background-color:#03ef62 ;
  
}
/* Add padding BETWEEN each column (if you want) */
.productfeaturescls,
.productfeaturescls > .column {

  padding: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 31%;
  
}
.column a{
  color:black;
  text-decoration: none;
}

/* Clear floats after productfeaturesclss */
.productfeaturescls:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding:3.4%;
}



.footercls{
    display:flex;
    align-items:center;
    height:100px;
    background-color: #03ef62;
    color:white;
    font-size:x-large;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.projectdetailscls{
  margin:auto;
}